<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor perferendis, nobis veritatis quisquam facere tenetur ullam totam praesentium aliquid facilis ratione nostrum incidunt, accusamus, ex amet. Autem nihil eligendi iusto.</p>
    </div>
</div>