<div class="jumbotron mt-4 ">
    <h1 class="display-4 text-center">Aplicación de notas</h1>
    <p class="lead m-4">Un crud simple de notas y usuarios</p>
    <hr class="my-4"> 
    <p>Backend hecho con Nodejs, express y mongodb </p>
    <p>Motor de plantillas handlebars y boostrap para el frontend</p>
</div>

